### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/classes/com/pccompatchecker/App.class
/target/classes/parts/csv/case.csv
/target/classes/parts/jsonl/case.jsonl
/target/classes/parts/csv/case-accessory.csv
/target/classes/parts/jsonl/case-accessory.jsonl
/target/classes/parts/csv/case-fan.csv
/target/classes/parts/jsonl/case-fan.jsonl
/target/classes/parts/csv/cpu.csv
/target/classes/parts/jsonl/cpu.jsonl
/target/classes/parts/csv/cpu-cooler.csv
/target/classes/parts/jsonl/cpu-cooler.jsonl
/target/classes/parts/csv/external-hard-drive.csv
/target/classes/parts/jsonl/external-hard-drive.jsonl
/target/classes/parts/csv/fan-controller.csv
/target/classes/parts/jsonl/fan-controller.jsonl
/target/classes/parts/csv/headphones.csv
/target/classes/parts/jsonl/headphones.jsonl
/target/classes/parts/csv/internal-hard-drive.csv
/target/classes/parts/jsonl/internal-hard-drive.jsonl
/target/classes/parts/csv/keyboard.csv
/target/classes/parts/jsonl/keyboard.jsonl
/target/classes/parts/csv/memory.csv
/target/classes/parts/jsonl/memory.jsonl
/target/classes/module-info.class
/target/classes/parts/csv/monitor.csv
/target/classes/parts/jsonl/monitor.jsonl
/target/classes/parts/csv/motherboard.csv
/target/classes/parts/jsonl/motherboard.jsonl
/target/classes/parts/csv/mouse.csv
/target/classes/parts/jsonl/mouse.jsonl
/target/classes/parts/csv/optical-drive.csv
/target/classes/parts/jsonl/optical-drive.jsonl
/target/classes/parts/csv/os.csv
/target/classes/parts/jsonl/os.jsonl
/target/classes/parts/csv/power-supply.csv
/target/classes/parts/jsonl/power-supply.jsonl
/target/classes/parts/csv/sound-card.csv
/target/classes/parts/jsonl/sound-card.jsonl
/target/classes/parts/csv/speakers.csv
/target/classes/parts/jsonl/speakers.jsonl
/target/classes/parts/csv/thermal-paste.csv
/target/classes/parts/jsonl/thermal-paste.jsonl
/target/classes/parts/csv/ups.csv
/target/classes/parts/jsonl/ups.jsonl
/target/classes/parts/csv/video-card.csv
/target/classes/parts/jsonl/video-card.jsonl
/target/classes/parts/csv/webcam.csv
/target/classes/parts/jsonl/webcam.jsonl
/target/classes/parts/csv/wired-network-card.csv
/target/classes/parts/jsonl/wired-network-card.jsonl
/target/classes/parts/csv/wireless-network-card.csv
/target/classes/parts/jsonl/wireless-network-card.jsonl
